/*
#163E6C
#D20A11
#EBE6D6
*/

@font-face {
    font-family: 'pt-astra';
    src: url('../../static/fonts/PT-Astra-Sans_Regular.ttf') format('embedded-opentype'), /* Internet Explorer */
         url('../../static/fonts/PT-Astra-Sans_Regular.ttf') format('woff2'),             /* Super Modern Browsers */
         url('../../static/fonts/PT-Astra-Sans_Regular.ttf') format('woff'),              /* Pretty Modern Browsers */
         url('../../static/fonts/PT-Astra-Sans_Regular.ttf') format('truetype'),          /* Safari, Android, iOS */
         url('../../static/fonts/PT-Astra-Sans_Regular.ttf') format('svg');               /* Legacy iOS */
}

html * {
    font-family: 'pt-astra';
    background-color: #EBE6D6;
    justify-content: center;
};

@media only screen and (max-width: 360px) {
    .app-field {
      font-size: 1.5vw;
    }
  }


@media only screen and (min-width: 768px) {
  .app-field {
    font-size: 1.75vw;
  }
  .app-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;    
  }
  
  .app-form {
    font-size: medium;
  }

}

@media only screen and (min-width: 864px) {
  .app-field {
    font-size: 2vw;
  }
  .app-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 900px) {
  .app-field {
    font-size: 2vw;
  }
  .app-container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1080px) {
  .app-field {
    font-size: 1.6vw;
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .app-container {
    width: 70%;
    margin-left: 25%;
    margin-right: 25%;
  }
}

a {
  all: unset;
}

.App {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.app-logo {
    background-color: #163e6c;
    width:12vw;
    height: auto;
}
.app-logo img {
  width: 100%;
  background-color: #163e6c;
}

.app-field {
  background-color: #ebe6d6;
  border-radius: 25px;
  padding: 5px;
  margin: 10px 15px 10px 0;
  width: fit-content;
}

.app-container {
  display: flexbox;
  align-items: center;
  justify-content: center;
  background-color: #163e6c;
  border-radius: 10px;
  text-align: center;
  margin: 1vw;
  padding: 2vw;
  margin-left: auto;
  margin-right: auto;
}

.app-container label {
  border-radius: 15px;
  display:block;
  margin-bottom: 2px;
  float: left;
  border-style: hidden;
  background-color: #ebe6d6;
  margin: 7px;
  padding: 1px;
  outline: none;
  width: 10em;
  font-size: small;
}

.app-inner-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #ebe6d6;
  border-radius: 10px;
  text-align: center;
  margin: 1vw;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  background-color: #163e6c;
  border-radius: 10px;
  text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    background-color: #163e6c;
    border-radius: 10px;
    text-align: center;
}

.app-form {
    background-color: #163e6c;
    display: inline-block;;
    justify-content: space-around;
    box-sizing: content-box;
    border-radius: 25px;
    padding: 3px;
    align-items: center;
}

.app-form input {
  border-radius: 15px;
  border-style: hidden;
  background-color: #ebe6d6;
  margin: 7px;
  float: right;
  outline: none;
  text-align: center;
  font-size: small;
  width: 10em;
}

@supports (-moz-appearance:none) {
  .app-form input[type=date] {
    padding: 1px;
  }
  .app-form select {
    padding: .5px;
  }

}

@supports (-webkit-font-smoothing: antialiased) {
  .app-form input[type=date] {
    padding: 0;
  }
}

.app-form input[type=checkbox] {
  border-radius: 15px;
  border-style: hidden;
  background-color: #ebe6d6;
  margin: 7px;
  float: right;
  outline: none;
  padding: 2.5px;
  text-align: center;
  font-size: small;
  width: 10em;
}

.app-form input[type=date] {
  border-radius: 15px;
  border-style: hidden;
  background-color: #ebe6d6;
  margin: 7px;
  float: right;
  outline: none;
  text-align: center;
  font-size: small;
  width: 10em;
}

.app-form label {
  border-radius: 15px;
  display:block;
  margin-bottom: 2px;
  float: left;
  border-style: hidden;
  background-color: #ebe6d6;
  margin: 7px;
  padding: 1px;
  outline: none;
  width: 10em;
  font-size: small;
}

.app-form select {
  border-radius: 15px;
  border-style: hidden;
  background-color: #ebe6d6;
  margin: 7px;
  padding: .5px 1.5px;
  outline: none;
  text-align: center;
  font-size: small;
  width: 10em;
}

.edit {
  width: 1.77em;
  height: 1.77em;
  border-radius: 15px;
  border-style: hidden;
  background-color: #D20A11;
  margin: 7px;
  padding: 3px;
  outline: none;
  text-align: center;
  justify-content: center;
}

.app-form button {
  font-size: medium;
  border-radius: 15px;
  border-style: hidden;
  background-color: #ebe6d6;
  margin: 7px;
  padding: 5px;
  outline: none;
  text-align: center;
  align-self: center;
}


.app-table {
  overflow-x: auto;
}

.app-table table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.app-table td, th {
  border: 1px solid #a7a7a7;
  text-align: left;
  padding: 8px;
}

.app-table tr:nth-child(even) {
  background-color: #a7a7a7;
}
